#search-button{
    float: right
}

input[type=search]{
    width: auto;
    float: right
}

#company-name, #company-code{
    padding-top: 1rem
}

#add-button{
    margin-top: 20px;
    float: left
}

.wrap{
    width: 50rem;
    position: relative
}

#cart{
    font-size: 20px
}