{% extends 'base.html' %}

{% block title %}Osaühingu asutamise vorm{% endblock %}

{% block content %}
    <div class="container py-3" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        <div class="row row-cols-1 row-cols-md-2 mb-2">
            <div class="col col-rows-1 col-rows-md-2 mb-2 text-right">
                <a href="/" role="button" class="w-30 btn btn-primary">Avaleht</a>
            </div>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="display-4 fw-normal">Osaühingu asutamise vorm</p>
        </div>

        <form action="" method="post">

            {% csrf_token %}

            Osaühingu nimi
            {{ company_form.company_name }}
            <br>
            Osaühingu registrikood
            {{ company_form.company_code }}
            <br>
            Asutamiskuupäev
            {{ company_form.reg_date }}
            <br>
            Kogukapitali suurus eurodes
            {{ company_form.capital }}
            <br>
            Osaniku nimi
            {{ company_form.fk_sharer }}
            <br>
            Osaniku osa suurus eurodes
            {{ company_form.eur_share }}
            <br>
            <span>{{ error }}</span>
            <p><input type="submit" id="add-button" class="w-30 btn btn-primary" value="Luua"></p>

        </form>

    </div>
{% endblock %}



