{% extends 'base.html' %}

{% block title %}Avaleht{% endblock %}

{% block content %}
    <div class="container py-3" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        <div class="row row-cols-1 row-cols-md-2 mb-2">
            <div class="col col-rows-1 col-rows-md-2 mb-2 text-right">
                <a href="/add" role="button" class="w-30 btn btn-primary">Registratioon</a>
            </div>
            <div class="col mb-2">
                {#{% url 'search' %}#}
                <form action="" class="form-inline" method="get">
                    <button type="submit" id="search-button" class="w-30 btn btn-light">Search</button>
                    <input name="search" type="search" class="form-control" id="" placeholder="Search">
                </form>
            </div>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="display-4 fw-normal">Avaleht</p>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th class="col-4">Osaühingu nimi</th>
                <th class="col-4">Osaühingu registrikood</th>
                <th class="col-3"></th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td id="company-name" scope="row">{{ company.company_name }}</td>
                    <td id="company-code">{{ company.company_code }}</td>
                    <td><a href="{% url 'view' company.id %}" role="button" class="w-30 btn btn-light">Vaata</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



