{% extends 'base.html' %}

{% block title %}Osaühingu andmete vaade{% endblock %}

{% block content %}
    <div class="container py-3" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        <div class="row row-cols-1 row-cols-md-2 mb-2">
            <div class="col col-rows-1 col-rows-md-2 mb-2 text-right">
                <a href="/" role="button" class="w-30 btn btn-primary"
                   style="float: left">Avaleht</a>
            </div>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="display-4 fw-normal">Osaühingu andmete vaade</p>
        </div>


        <div class="row row-cols-1 row-cols-md-2 mb-2" style="padding-top: 5rem; margin: auto">

            <div class="col">
                <div class="row justify-content-center">
                    <div class="wrap">
                        <div class="card mb-4 rounded-3 shadow-sm border-light">
                            <div class="card-body">
                                <p id="cart">Osaühingu nimi</p>
                                <b id="cart">{{ company.company_name }}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="wrap">
                        <div class="card mb-4 rounded-3 shadow-sm border-light">
                            <div class="card-body">
                                <p id="cart">Osaühingu kood</p>
                                <b id="cart">{{ company.company_code }}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="wrap">
                        <div class="card mb-4 rounded-3 shadow-sm border-light">
                            <div class="card-body">
                                <p id="cart">Asutamiskuupäev</p>
                                <b id="cart">{{ company.reg_date }}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="row justify-content-center">
                    <div class="wrap">
                        <div class="card mb-4 rounded-3 shadow-sm border-light">
                            <div class="card-body">
                                <p id="cart">Kogukapitali suurus eurodes</p>
                                <b id="cart">{{ company.capital }}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="wrap">
                        <div class="card mb-4 rounded-3 shadow-sm border-light">
                            <div class="card-body">
                                <p id="cart">Osaniku nimi</p>
                                <b id="cart">{{ company.fk_sharer }}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="wrap">
                        <div class="card mb-4 rounded-3 shadow-sm border-light">
                            <div class="card-body">
                                <p id="cart">Osaniku osa suurus eurodes</p>
                                <b id="cart">{{ company.eur_share }}</b>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}



