{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="container py-3" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">




















        {#        <div class="mx-auto text-left" style="margin-top: 100px">#}
        {#            <p class="display-4 fw-normal">Search</p>#}
        {#        </div>#}
        {#        <br>#}
        {##}
        {#        <form class="form-inline" action="{% url 'home' %}">#}
        {#            <input class="form-control" name="search" type="search" placeholder="Search" aria-label="Search">#}
        {#            <br>#}
        {#            <button type="submit" class="w-30 btn btn-light">Search</button>#}
        {#        </form>#}



{#            {% for company in object_list %}#}
{#                <a>{{ c.company_name }}</a>#}
{#            {% endfor %}#}




{#        <form action="{% url 'home' %}" class="form-inline" method="get">#}
{#            <button type="submit" class="w-30 btn btn-light">Back</button>#}
{#        </form>#}

    </div>
{% endblock %}
